#root {
    gap: 12px;
}


.title {
    text-align: center;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-decoration: underline;
    font-style: italic;
    font-size: 2.25rem;
    color: inherit;
    font-weight: 700;
}


.project-desc {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
}


.search-repo-form {
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}


#search-input {
    padding: 12px;
    border-radius: 8px;
    font-size: 1.5rem;
    color: #222;
    font-weight: bold;
    width: 90%;
    background-color: #ededed;
}


#search-input::placeholder {
    font-weight: bold;
    color: #555;
}


#search-btn {
    padding: 8px;
    width: 60%;
    background-color: hsl(200, 90%, 40%);
    color: #FFF;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 12px;
    outline: none;
    border: none;
}

.results-section {
    width: 100%;
    text-align: center;
}

.loader {
    display: none;
    border: 8px solid hsl(200, 90%, 40%);
    border-top-color: #222;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: auto;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.results-header {
    display: none;
    margin: none;
    font-size: 1.8rem;
}

#no-results {
    display: none;
    margin: none;
}


.repo-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
}


.repo-btn {
    margin: none;
    padding: 8px 0 8px 0;
    width: 80%;
    background-color: hsl(200, 90%, 40%);
    color: #FFF;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 12px;
    outline: none;
    border: none; 
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
    overflow: hidden;
    
    cursor: pointer;
}

.repo-btn:hover {
    overflow: auto;
    white-space: normal;
    text-overflow: clip;
}