#root {
    gap: 12px;
}


.title {
    text-align: center;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-decoration: underline;
    font-style: italic;
    font-size: 2.75rem;
    color: inherit;
    font-weight: 700;
}


.project-desc {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
}


.search-repo-form {
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}


#search-input {
    padding: 12px;
    border-radius: 8px;
    font-size: 1.5rem;
    color: #222;
    font-weight: bold;
    width: 90%;
    background-color: #ededed;
}


#search-input::placeholder {
    font-weight: bold;
    color: #555;
}


#search-btn {
    padding: 8px;
    width: 60%;
    background-color: hsl(200, 90%, 40%);
    color: #FFF;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 12px;
    outline: none;
    border: none;
}

.results-section {
    width: 100%;
    text-align: center;
}

.loader {
    display: none;
    border: 8px solid hsl(200, 90%, 40%);
    border-top-color: #222;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: auto;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.results-header {
    display: none;
    margin: none;
    font-size: 1.8rem;
}

#no-results {
    display: none;
    margin: none;
}


.repo-list {
    width: 100%;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
}


.repo-btn {
    margin: none;
    padding: 10px;
    width: 80%;
    background-color: hsl(200, 90%, 40%);
    color: #FFF;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 12px;
    outline: none;
    border: none; 
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
    overflow: hidden;
    
    cursor: pointer;
}

.repo-btn:hover {
    overflow: auto;
    white-space: normal;
    text-overflow: clip;
}

/* Repo Stats Table */

.repo-details, tr, td {
    border: 1px #FFF solid;
    text-align: left;
}

.repo-details tr:first-child {
    text-align: center;
    font-size: 1.75rem;
}

.repo-details td {
    padding: 8px;
    font-size: 1.5rem;
    font-weight: 700;
}

.repo-details {
    margin: auto;
    width: 90%;
}

.description {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    background-color: hsl(200, 90%, 40%);
    border-radius: 16px;
}

.repo-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.repo-display h3 {
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

.repo-display p {
    margin: auto;
    font-size: 1.6rem;
    width: 90%;
    padding: 8px;
}

.commits-list {
    margin-bottom: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
}

.commits-list h2 {
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 4px;
    font-size: 2.2rem;
    font-weight: bold;
}

.commits-list h3 {

}


.commit-btn {
    margin: none;
    padding: 4px;
    width: 90%;
    background-color: hsl(200, 90%, 40%);
    color: #FFF;
    font-size: 1.75rem;
    font-weight: bold;
    border-radius: 8px;
    text-align: center;

    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.commit-btn ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.commit-btn ul li {
    margin: auto;
    width: 80%;
    padding: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}

.commit-btn ul li:hover {
    width: 100%;
    margin: 0;
    padding: 2px;
    white-space: normal;
    overflow-x: auto
}

.commit-btn:hover {
    overflow: auto;
    white-space: normal;
}

.commit {
    padding: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.commit h1 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 8px;
}

.commit ul {
    list-style-type: none;
    padding: 8px;
    margin: auto;
    text-align: left;
    background-color: hsl(200, 90%, 40%);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    width: 90%;
}

.commit ul li {
    padding: 0;
    margin: 0;
    font-size: 1.6rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.commit ul li:hover {
    white-space: normal;
    overflow-x: visible;
    word-wrap: break-word;
}

.commit h2 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 4px;
}

.commit p {
    text-align: center;
    font-size: 1.6rem;
    margin: 0;
    background-color: hsl(200, 90%, 40%);
    border-radius: 16px;
    padding: 8px;
    width: 90%;
}

.no-commits {
    margin: 16px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}